/*
    I should be using sass here.
    The width calculation is based on the div[id^="bagS"] di span { width: }
    The number of top-level items is set in bureau-a-gradin.js (currently 10) ($slots)
    I want the items a little wider than 9em. Make it 10.
    $slots * width + ($slots * (0.1*2))
    10 * 10em + (10 * 0.2) = 102em;

    width:82.8em;  -- currently applied to the element 9x9em width + (9 x 0.1 x 2) padding
    This should be set within the code.
    7 x 9em + (7 x0.1 x2) = 64.4em

    102em / 5 templates = 20
*/
#bag {
    border: 2px solid #CCCCCC;
    position: relative;
    height: auto;
    background-color:#ECE5D7;
    color:inherit;
    line-height:1.6em;
    overflow:hidden;
    /*width: 102em;*/
    font-size: 12px;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

#bagHomeRow { 
/*    width: 100%; */
    margin-bottom: 2px; 
}
#bagHomeRow .ips_wrapper {
    margin:0;
}

#bagHomeRow div#bagstart {

    outline: 2px solid #CCFFEE;
    background-color: #CCEEEE;
    color:inherit;
    font-family:  "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    text-align: center;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url(graphics/icons/folder_go.png);
    
}
#bagOptions {
    /* span showing the options button */
    float:right;
    line-height:1.6em;
    
}
#bagHomeRow div#bagstart:hover {
    outline-color: #999999;
    background-image: url(graphics/icons/folder_magnify.png);
}

div[id^="bagS"] div {
   /*  display: none; */
/*    width: 100%;*/
}
div[id^="bagS"] div span{
    display: table-cell;
    width: 10em;
    padding: 0.1em;
    outline: 1px solid #CCFFEE;
    text-align: center;
    font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    background-position: left;
    background-repeat: no-repeat;
     background-image: url(graphics/icons/folder.png);
}
/*div[id^="bagS"] div span.active {
    border-color:#336655;
}*/

div[id^="bagS"] div span:hover { /* ANY bag Sublist */
    outline-color: #999999;
    outline-width: 2px;
    padding: 0.1em;
    background-image: url(graphics/icons/folder_magnify.png);
}



#bagS1 span{             
    background-color: #EEEEEE;
    color:inherit;
}
#bag span.spacer{             
/*    background-color: #ECE5D7;
    color:inherit;*/
    background-image: none;
}

div#bagS1 span.active {   
    background-color: #CCCCCC;
    color:inherit;
}

#bagS2 span
{   
    background-color: #CCCCCC;
    color:inherit;
}

/*#bagS2 span.spacer {   
    background-color: #DDDDDD;
    color:inherit;
}*/
div#bagS2 span.active {             
    background-color: #AAAAAA;
    color:inherit;
}

#bagS3 span {             
    background-color: #AAAAAA;
    color:inherit;
}
/*#bagS3 span.spacer{             
    background-color: #BBBBBB;
    color:inherit;
}*/
div#bagS3 span.active{             
    background-color: #888888;
    color:white; /*background is getting dark, so lighten the text*/
}
#bagS4 span {
    background-color: #888888;
    color:white; /*bg is getting dark, so lighten the text*/
}
/*#bagS4 span.spacer{             
background-color: #999999;
color:inherit;
}*/


#bagNav span.active { 
    color: blue;
    background-color:inherit;
    background-image: url(graphics/icons/folder_go.png);
    
}

#templateItems div span {
    float:left;
    font-family:  "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
    margin-bottom:3px;
    margin-right:4px;
    outline-color:#ECE5D7;
    outline-style:solid;
    outline-width:1px;
    padding:2px;
    text-align:center;
    vertical-align:middle;
    width:19.4em; /* another trial and error value - should be sass. Divide main width by the number of items across, then reduce a little for padding. 102/5 */
}

#templateItems div span:hover {
    outline-color: #999999;
    outline-width: 2px;
   
}
#templateItems div span.active {
    outline-color: #FF6699;
    outline-width: 3px;
    font-weight: bold;
    color: blue;
    /*background-color:inherit;*/
}
#templateItems div { 
    /* display:none; */
}
#templateItems, #templateItemsHeader {
/*     height:100%; */
    display:block;
/*    border-bottom:4px groove #CCCCCC;*/
    padding: 0.2em;
}
#templateItems {
    border-top:4px groove #CCCCCC;
    margin-top:2px;
}

#templateItems span {
    background-position: center left;
    background-repeat:no-repeat;
}


.t-odt{
    background-image:url(graphics/Galaxy_OOo3_writer-doc_16.png);
    background-color:#5FA1FF;
    color:inherit;
}

.t-ods{
    background-image:url(graphics/Galaxy_OOo3_calc-doc_16.png);
    background-color: #5DC841;
    color:inherit;
}

.t-docx{
    background-image:url(graphics/docx.jpg);
    background-color: #99FFFF;
    color:inherit;
}

.t-mail{
    background-color: wheat;
    background-image: url(graphics/icons/email.png);
    color: black;
}

.t-txt, .t-text{
    background-color: white;
    background-image: url(graphics/icons/page_white_text.png);
    color: black;
}

.irrelevant {
	background-color:#DDDDDD;
	color:#AAAAAA;
}