/* The LIST-mode appearance  */
/* XML file table row appearance. (Double-click to edit) */
.pekoe-form {background-color: #9BCD9B;
	color: #334455; 
	}
.new { background-color:#FFCC99; }

.pekoe-form td:first-child div{
	background-image:url(graphics/icons/page.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left:22px !important;
}

.pekoe-form.new td:first-child div{
	background-image:url(graphics/icons/page_add.png);
}

/* Search form */
.search {background-color: #DDAA88; color: #AA1122;}
.search td:first-child  div{	
	background-image:url(graphics/icons/page_white_magnify.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left:22px !important;
}

/* XQL file table row appearance. (Double-click to run program - should return a list.) */
.list {background-color: #EEF7EE; color: #3F602B;}
.list td:first-child  div{
	background-image:url(graphics/icons/folder_database.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left:22px !important;
}
.xql:hover td:first-child div {
	background-image: url(graphics/icons/folder_table.png);
}

/* Collection background - essentially a folder. (Double-click to view contents) */
.collection {background-color: #D2E9D2; color: #3F602B;}
.collection td:first-child  div{	
	background-image:url(graphics/icons/folder.png);
	background-position: center left;
	background-repeat: no-repeat;
	padding-left:22px !important;
}
.collection:hover td:first-child div {
	background-image:url(graphics/icons/folder_explore.png);
}

.flexigrid {font-size: 12px;}
.fbutton span {
	background-position: center left;
	background-repeat: no-repeat;
	padding-left:18px;
 }
.row-edit   {background-image: url(graphics/icons/page_edit.png);}
.row-delete {background-image: url(graphics/icons/delete.png);   }
.table-refresh {
    background-image: url(graphics/icons/table_refresh.png);
}
.bookmark-delete {
	list-style-image: url(graphics/icons/delete.png);
	list-style-position: outside;
}
.row-bookmark {background-image: url(graphics/icons/folder_star.png);}


.locked {
    color:#DCA65A;
    background-color:#ECE5D7;
}
.locked-by-me {
    color:red;
    background-color:#FFCC99;
}
tr.header {
    height: 2em;
    background-color: #FAFAFA;
}
.number div {
    text-align: right;
}