.calendarElement {
    position: relative;
    width: 20em;
    color: black;
    background-color: #CCFFFF; 
    z-index:2000;
    padding: 4px;
    background-color:white;
    outline: 1px solid #287DC5;
    float: left;
}
.calendarRow {
  	color: black;
  	background-color:white;
  	display: table-row;
  }
.calendarDay {
  	display:table-cell;
  	width:2.5em;
  	padding-right:4px;
  	padding-top: 2px;
  	text-align: right;
  	color: #287DC5;
  	background-color: #E3F1FC;
  	border: 1px solid white;
  } 
.blankDay { background-color:white; color:inherit;}
.dayName {color:black; background-color:white;}
.calendarDay:hover {
    color: #287DC5;
  	background-color: #D0E5F5;
  	cursor:pointer;
  } 
.calendarHeader {
  	display:table-row;
  	
  }
.calendarPrevMonth {
  	padding-left:4px;
  	padding-right: 6px;
  	padding-top: 2px;
  	border: 1px solid #FFCC99;
	display:table-cell;
  	width:5em;
  	color: blue;
  	background-color: #FFFF99;
  	cursor: w-resize;
  }
.calendarYear {
  	padding-left:8px;
  	padding-right:8px;
  	border: 1px solid #FFCC99;
  	text-align: center;
  	display:table-cell;
  	width: 7.5em;
  }
.calendarNextMonth {
  	padding-right:4px;
  	padding-left:6px;
  	border : 1px solid #FFCC99;
  	padding-top: 2px;

  	text-align: right;
  	display:table-cell;
  	color: blue;
  	background-color: #FFFF99;
  	width:5em;
  	cursor: e-resize;
  }
  
.closeBox {
      width: 2em;
      cursor: pointer;
  }
.calendarChosenDay {
      color: #003366;
      background-color: #FFCC99;
  }
.calendarChosenDay:hover {
      color: #003366;
      background-color: #FF9933;
  }